body {
    display: flex;
    background-color: rgb(157, 236, 236);
}

.aa {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    border: 5px solid red;
}
img {
    width: 220px;
    height: 220px;
    border-color: 10px blue;
    box-shadow: 15px  15px rgb(219, 219, 111);
}
h4 {
    color: rgb(167, 18, 95);
    background-color: rgb(150, 240, 150);
}
